<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>비밀번호 찾기3</title>
<link href="../../assets/bootstrap/css/bootstrap.css" rel="stylesheet">
<link href="../../assets/css/login/member.css" rel="stylesheet">
<link href="../../assets/css/login/findInfo.css" rel="stylesheet">


</head>
<body>

	<div id="containerMain">
		<div></div>
		<div id=formArea>
			<h1>계정정보 찾기</h1>
			<!-- Nav tabs -->
			<ul class="nav nav-tabs">
				<li><a href="">아이디 찾기</a></li>
				<li class="active"><a href="">비밀번호 찾기</a></li>
			</ul>
			
			<div id= findForm>
				
				<p> 비밀번호가 변경됐습니다. </p>
				
				<div id="nextBtn">
					<button class="btn btn-default" type="button">로그인</button>
				</div>
			</div>
			
		</div>
		<div></div>
	</div>
</body>
</html>