<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>비밀번호 찾기2</title>
<link href="../../assets/bootstrap/css/bootstrap.css" rel="stylesheet">
<link href="../../assets/css/login/member.css" rel="stylesheet">
<link href="../../assets/css/login/findInfo.css" rel="stylesheet">

</head>
<body>
	<div id="containerMain">
		<div></div>
		<div id=formArea>
			<h1>계정정보 찾기</h1>

			<!-- Nav tabs -->
			<ul class="nav nav-tabs">
				<li><a href="">아이디 찾기</a></li>
				<li class="active"><a href="">비밀번호 찾기</a></li>
			</ul>
			
			<div id= findForm>
				<table>
					<tr>
						<th>비밀번호</th>
						<td><input class="form-control" type="password" placeholder="비밀번호"></td>
					</tr>
					<tr>
						<th>비밀번호 확인</th>
						<td><input class="form-control" type="password" placeholder="비밀번호 확인"></td>
					</tr>
				</table>
				
				<div id="nextBtn">
					<button class="btn btn-default" type="button">비밀번호 변경</button>
				</div>
			</div>
			
		</div>
		<div></div>
	</div>
</body>
</html>