<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>아이디 찾기2</title>

<link href="../../assets/bootstrap/css/bootstrap.css" rel="stylesheet">
<link href="../../assets/css/login/member.css" rel="stylesheet">
<link href="../../assets/css/login/findInfo.css" rel="stylesheet">

</head>
<body>

	<div id="containerMain">
		<div></div>
		<div id=formArea>
			<h1>계정정보 찾기</h1>
			<!-- Nav tabs -->
			<ul class="nav nav-tabs">
				<li class="active"><a href="">아이디 찾기</a></li>
				<li><a href="">비밀번호 찾기</a></li>
			</ul>
			
			<div id= findForm>
				
				<p> 고객님의 정보와 일치하는 아이디 목록입니다. </p>
				<div id="findResult">
					<ul>
						<li class="clearfix">globalIT <span class="right">2021.01.01 가입</span> </li>
					</ul>
				</div>
				
				<div id="nextBtn">
					<button class="btn btn-default" type="button">로그인</button>
				</div>
			</div>
			
		</div>
		<div></div>
	</div>
</body>
</html>