<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>아이디 찾기</title>
<link href="../../assets/bootstrap/css/bootstrap.css" rel="stylesheet">
<link href="../../assets/css/login/member.css" rel="stylesheet">
<link href="../../assets/css/login/findInfo.css" rel="stylesheet">


</head>
<body>

	<div id="containerMain">
		<div></div>
		<div id=formArea>
			<h1>계정정보 찾기</h1>
			<!-- Nav tabs -->
			<ul class="nav nav-tabs">
				<li class="active"><a href="">아이디 찾기</a></li>
				<li><a href="">비밀번호 찾기</a></li>
			</ul>
			
			<div id= findForm>
				<table>
					<colgroup>
						<col style="width:18%">
						<col style="width:54%">
						<col style="">
					</colgroup>
					<tr>
						<th>이름</th>
						<td><input class="form-control" type="text"></td>
						<td></td>
					</tr>
					<tr>
						<th>이메일 주소</th>
						<td><input class="form-control" type="text"></td>
						<td><button class="form-control btn-default" type="button">인증번호 받기</button></td>
					</tr>
					<tr>
						<td></td>
						<td><input class="form-control" type="text" placeholder="인증번호 6자리 숫자 입력"></td>
						<td><button class="form-control btn-default" type="button">확인</button></td>
					</tr>
				</table>
				
				<div id="nextBtn">
					<button class="btn btn-default" type="button">다음</button>
				</div>
			</div>
			
		</div>
		<div></div>
	</div>
	

</body>
</html>