<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>회원가입</title>

<link href="../../assets/bootstrap/css/bootstrap.css" rel="stylesheet">
<link href="../../assets/css/login/member.css" rel="stylesheet">
<link href="../../assets/css/login/joinForm.css" rel="stylesheet">


</head>

<body>
	<div id="wrap">

		<div id="containerMain">
			<div></div>
			<div id="formArea">
				<table>
					<colgroup>
						<col style="width:25%">
						<col style="">
						<col style="">
						<col style="width:25%">
					</colgroup>
					<tr>
						<th>아이디</th>
						<td colspan="2"><input class="form-control" type="text" placeholder="아이디"></td>
						<td class="outlineBtn"><button class="form-control btn-outline-primary" type="button">중복체크</button></td>
					</tr>
					
					<tr>
						<th>비밀번호</th>
						<td colspan="3"><input class="form-control" type="password" placeholder="비밀번호"></td>
					</tr>
				
					<tr>
						<th>비밀번호 확인</th>
						<td colspan="3"><input class="form-control" type="password" placeholder="비밀번호 확인"></td>
					</tr>
					
					<tr>
						<th>이름</th>
						<td colspan="3"><input class="form-control" type="text" placeholder="이름"></td>
					</tr>
					
					<tr>
						<th>전화번호</th>
						<td colspan="3"><input class="form-control" type="text" placeholder="01012345678"></td>
					</tr>
					
					
					<tr>
						<th>주소</th>
						<td><input class="form-control" type="text" placeholder="우편번호" readonly></td>
						<td colspan="2" class="outlineBtn"><button class="form-control btn-outline-primary" type="button">우편번호 찾기</button></td>
					</tr>
				
					<tr>
						<td></td>
						<td colspan="3"><input class="form-control" type="text" placeholder="주소"></td>
					</tr>
					
					<tr>
						<td></td>
						<td colspan="3"><input class="form-control" type="text" placeholder="상세주소"></td>
					</tr>
					
					<tr>
						<th>이메일</th>
						<td colspan="2"><input class="form-control" type="text" placeholder="이메일"></td>
						<td class="outlineBtn"><button class="form-control btn-outline-primary" type="button">인증번호 발송</button></td>
					</tr>
					
					<tr>
						<th></th>
						<td colspan="2"><input class="form-control" type="text" placeholder="인증번호"></td>
						<td class="outlineBtn"><button class="form-control btn-outline-primary" type="button">확인</button></td>
					</tr>
					
					<tr>
						<th>회원구분</th>
						<td>
							<label class="radio-inline">
							  <input type="radio" name="inlineRadioOptions" value="option1"> 개인
							</label>
						</td>
						<td>
							<label class="radio-inline">
							  <input type="radio" name="inlineRadioOptions" value="option2"> 사업자
							</label>
						</td>
						<td>
					</tr>
					<tr>
						<th>사업자등록번호</th>
						<td colspan="3"><input class="form-control" type="text" placeholder="사업자등록번호"></td>
					</tr>
					<tr>
						<td colspan="4">
							<label class="checkbox-inline">
							  <input type="checkbox" value="option1"> 약관 동의
							</label>
						</td>
					</tr>
					<tr>
						<td colspan="4"><button id="joinBtn" class="form-control btn-primary">회원가입</button></td>
					</tr>
				</table>
			</div>
			
			
			<div></div>
			
		</div>
		<!-- //containerMain  -->


	</div>
	<!-- //wrap -->

</body>

</html>
