<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>로그인</title>


<!-- 부트스트랩 Bootstrap core CSS -->
<link href="../../assets/bootstrap/css/bootstrap.css" rel="stylesheet">
<link href="../../assets/css/login/member.css" rel="stylesheet">
<link href="../../assets/css/login/loginForm.css" rel="stylesheet">


</head>

<body>
	<div id="wrap">

		<div id="containerMain">
			<div></div>
			<div id="formArea">
				<input class="form-control" type="text" placeholder="아이디">
				<input class="form-control" type="password" placeholder="패스워드">
				<button id="loginBtn" class="form-control btn-primary" type="button">로그인</button>
				
				<div id="helperArea">
					<button class="form-control btn-default helper" type="button">아이디 찾기</button>
					<button class="form-control btn-default helper" type="button">비밀번호 찾기</button>
					<button id="lastBtn" class="form-control helper" type="button">회원가입</button>
				</div>
			</div>
			<div></div>
		</div>
		<!-- //container  -->
		
	</div>
	<!-- //wrap -->

</body>

</html>
