<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="../../assets//bootstrap/css/bootstrap.css" rel="stylesheet">
<link href="../../assets/css/main/search.css" rel="stylesheet">

</head>
<body>
	<div id="containerMain">
		<div></div>
		<div id="search">
			<div id="searchText"> 
				<p><span>'라이온 킹'</span> 에 대한 검색 결과입니다.<p>
			</div>
			<div id="searchResult">
				<table>
					<colgroup>
						<col style="width:17%">
						<col style="width:70%">
						<col style="">
					</colgroup>
					<tr>
						<td id="tdImg" rowspan="2"><img src="../../assets/image/seatType/r.jpg"></td>
						<th colspan="2">뮤지컬 라이온 킹 인터네셔널 투어 (Musical The Lion King)</th>
					</tr>
					<tr>
						<td>뮤지컬 | 150분 | 8세이상 관람가능</td>
						<td>서울<br>예술의전당 오페라극장<br>2022.01.01~2022.02.28</td>
					</tr>
				</table>
				
				<table>
					<colgroup>
						<col style="width:17%">
						<col style="width:70%">
						<col style="">
					</colgroup>
					<tr>
						<td id="tdImg" rowspan="2"><img src="../../assets/image/seatType/vip.jpg"></td>
						<th colspan="2">뮤지컬 라이온 킹 인터네셔널 투어 (Musical The Lion King)</th>
					</tr>
					<tr>
						<td>뮤지컬 | 150분 | 8세이상 관람가능</td>
						<td>서울<br>예술의전당 오페라극장<br>2022.01.01~2022.02.28</td>
					</tr>
				</table>
				<table>
					<colgroup>
						<col style="width:17%">
						<col style="width:70%">
						<col style="">
					</colgroup>
					<tr>
						<td id="tdImg" rowspan="2"><img src="../../assets/image/seatType/chosen.jpg"></td>
						<th colspan="2">뮤지컬 라이온 킹 인터네셔널 투어 (Musical The Lion King)</th>
					</tr>
					<tr>
						<td>뮤지컬 | 150분 | 8세이상 관람가능</td>
						<td>서울<br>예술의전당 오페라극장<br>2022.01.01~2022.02.28</td>
					</tr>
				</table>
			</div>
			
		</div>
		<div></div>
	</div>
</body>
</html>